.icon {
  width: 1em;
  height: 1em;
  will-change: transform;

  &--expanded {
    transform: rotateZ(-179.99deg);
  }
}

.rotate90 {
  transform: rotateZ(90deg);
}

.image-wrapper {
  position: relative;
  max-width: 500px;
  height: 0;
  padding-bottom: 40%;
  margin-bottom: 1rem;
  background: #eee;

  &__img {
    object-fit: cover;
    width: 100%;
    position: absolute;
  }
}

.app__content {
  transition: transform 280ms;
  &.collapsing {
    transform: translateY(-6px);
  }
  &.collapsed {
    transform: translateY(-6px);
  }
  &.expanding {
    transform: translateY(0px);
  }
  &.expanded {
    transform: translateY(0px);
  }
}

.app {
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 3rem 1rem 1rem;

  &.is-class-component {
    background: azure;
  }

  &--transition-enabled {
    .icon {
      transition: transform 250ms ease-in-out;
    }
  }

  &__text {
    width: 100%;
  }

  &__collapse {
    width: 100%;
    display: block;
    position: relative;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &--gradient {
      .app__content {
        border-color: transparent;
      }

      &:after {
        pointer-events: none;
        transition: opacity 300ms;
        will-change: opacity;
        opacity: 1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent 50%, white);
      }
    }

    &--active {
      &:after {
        opacity: 0;
      }
    }
  }

  &__content {
    border: 1px solid transparent;
    padding: 1rem 0;
    margin-bottom: 3rem;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__toggle {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px #888;
    background-color: #fff;
    transition: background-color 300ms;

    &--active {
      background-color: #fafafa;
    }
  }

  &__toggle-text {
    font-size: inherit;
  }

  &__button {
    display: block;
    min-width: 20rem;
    max-width: 100%;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
}
