.app {
  margin: 0 auto;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 3rem 1rem 1rem;

  &__content {
    border: 1px solid;
    padding: 1rem;
    margin-bottom: 3rem;
  }

  &__collapse {
    display: block;
    position: relative;

    &--gradient {
      .app__content {
        border-color: transparent;
      }

      &:after {
        transition: opacity 300ms;
        will-change: opacity;
        opacity: 1;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent 50%, white);
      }
    }

    &--active {
      &:after {
        opacity: 0;
      }
    }
  }

  &__toggle {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid;
    text-transform: uppercase;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px #ccc;
  }

  &__toggle-text {
    font-size: 2rem;
  }
}

.icon {
  width: 1em;
  height: 1em;
  transition: transform 250ms ease-in-out;
  will-change: transform;
  &--expanded {
    transform: rotateZ(-179.99deg);
  }
}

.rotate90 {
  transform: rotateZ(90deg);
}
