.collapse-css-transition {
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.collapse-css-transition > * {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.--is-collapsing > * {
  transform: translateY(-6px);
}

.--is-collapsed > * {
  transform: translateY(-6px);
}

.--is-expanding > * {
  transform: translateX(0);
}

.--is-expanded > * {
  transform: translateX(0);
}
