.collapse-css-transition {
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.collapse-css-transition > * {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.-c--collapsing > * {
  transform: translateY(-6px);
}

.-c--collapsed > * {
  transform: translateY(-6px);
}

.-c--expanding > * {
  transform: translateX(0);
}

.-c--expanded > * {
  transform: translateX(0);
}
