<div class="accordion">

    <div class="block block--1">
        <button class="toggle"><span>toggle</span> <svg class="icon" viewBox="6 0 12 24" width="16px" height="16px"
                xmlns="http://www.w3.org/2000/svg">
                <title>Chevron pointing right</title>
                <polygon points="8 0 6 1.8 14.4 12 6 22.2 8 24 18 12"></polygon>
            </svg> </button>

        <div class="text">
            <p class="text__content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quibusdam quam quas fuga nemo
                nulla eos magnam sint veritatis rem labore autem sapiente, animi, esse recusandae eius, nobis possimus
                eaque. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit.
                <button>click</button>
            </p>
        </div>

    </div>
    <div class="block block--2">
        <button class="toggle"><span>toggle</span> <svg class="icon" viewBox="6 0 12 24" width="16px" height="16px"
                xmlns="http://www.w3.org/2000/svg">
                <title>Chevron pointing right</title>
                <polygon points="8 0 6 1.8 14.4 12 6 22.2 8 24 18 12"></polygon>
            </svg> </button>

        <div class="text">
            <p class="text__content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quibusdam quam quas fuga nemo
                nulla eos magnam sint veritatis rem labore autem sapiente, animi, esse recusandae eius, nobis possimus
                eaque. Lorem ipsum dolor, sit amet consectetur adipisicing
                <img class="image" src="https://source.unsplash.com/user/erondu/320x180">
                elit. <button>click</button>
            </p>
        </div>

    </div>
    <div class="block block--3">
        <button class="toggle"><span>toggle</span> <svg class="icon" viewBox="6 0 12 24" width="16px" height="16px"
                xmlns="http://www.w3.org/2000/svg">
                <title>Chevron pointing right</title>
                <polygon points="8 0 6 1.8 14.4 12 6 22.2 8 24 18 12"></polygon>
            </svg> </button>

        <div class="text">
            <p class="text__content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quibusdam quam quas fuga nemo
                nulla eos magnam sint veritatis rem labore autem sapiente, animi, esse recusandae eius, nobis possimus
                eaque. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit.
                <img class="image" src="https://source.unsplash.com/user/erondu/320x180">

                <button>click</button>
            </p>
        </div>

    </div>
</div>