* {
  box-sizing: border-box;
}

:root {
  font-size: x-small;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem / 1.5 sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  font-size: inherit;
  box-shadow: none;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
