*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem / 1.5 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: scroll;
}

button {
  font-size: inherit;
  box-shadow: none;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
}
