button {
  transition: color 280ms;
}
button[disabled] {
  color: #aaa;
}

.icon-down {
  fill: purple;
  transition: transform 280ms cubic-bezier(0, 1, 0, 1);
  pointer-events: none;
  &.is-open {
    transform: rotate(0.5turn);
  }
}
