button {
  transition: color 250ms;
}
button[disabled] {
  color: #aaa;
}

.icon-down {
  fill: purple;
  transition: transform 200ms;
  pointer-events: none;
  &.is-open {
    transform: rotate(0.5turn);
  }
}
